# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Archivos md
ANEXOS.md
c4_architecture_diagrams.md
PRUEBAS_UNITARIAS.md
MANUAL_USUARIO.md
PRUEBAS_INTEGRACION.md
STACK_TECNOLOGICO.md
stress_test.js
DOCUMENTACION_ARQUITECTURA.md
DOCUMENTACION_RAD_DESARROLLO.md
CASOS_DE_PRUEBA.md
PRUEBAS_CAJA_NEGRA.md